/*--------------------------------------RESET*/

* {
    font-family: 'Montserrat', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-6);
}

:root {
    --color-1: #fff;
    --color-2: #000;
    --color-3: #141922;
    --color-4: #282828;
    --color-5: rgba(0, 0, 0, 0.6);
    --color-6: #A3A3A3;
    --color-7: #65D46E;
    --left-menu-width: 300px;
    --banner-menu-height: 80px;
    --footer-menu-height: 80px;
}

ul li {
    list-style: none;
}

section {
    padding: 10px 0;
}

h2 {
    color: var(--color-1);
    padding: 20px 0 0 0;
}

h3 {
    color: var(--color-1);
}

i {
    margin-right: 5px;
}


/*-----------------------------------Utilities*/

.container {
    width: calc(100% - 20px);
    margin: 0 auto;
}

.flex-cont {
    display: flex;
}

.flex-cont-v {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flex-aic {
    align-items: stretch;
    align-content: center;
}

.flex-ai-s {
    align-items: stretch;
}

.flex-aie {
    align-content: flex-end;
}

.plus-sign {
    height: 40px;
}

.flex-ac-c {
    align-content: center;
    align-items: center;
}

.flex-w {
    flex-wrap: wrap;
}

.flex-as-c {
    align-self: center;
}

.flex-grow {
    flex-grow: 1;
}

.flex-gap {
    gap: 10px;
}

.flex-sb {
    justify-content: space-between;
}

.flex-jc-fe {
    justify-content: flex-end;
}

.flex-jc-c {
    justify-content: center;
}

.flex-jc-sa {
    justify-content: space-around;
}

.button {
    padding: 10px 20px;
    border: 1px solid var(--color-1);
    border-radius: 26px;
}

.button a {
    text-decoration: none;
}

.width-100 {
    width: 100%;
}


/*-----------------------------------Banner*/

.banner {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - var(--left-menu-width));
    height: var(--banner-menu-height);
    background-color: var(--color-5);
}

.upgrade {
    text-transform: uppercase;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
}


/*-----------------------------------Main*/

main {
    height: calc(100vh - var(--footer-menu-height));
    display: flex;
    min-height: var(--banner-menu-height);
}

.main-space {
    padding-top: var(--banner-menu-height);
    overflow: auto;
    position: relative;
    width: calc(100% - var(--left-menu-width));
    height: 100%;
    background-color: var(--color-3);
}

.left-menu .flex-cont i {
    background-color: var(--color-6);
}

.left-menu {
    width: var(--left-menu-width);
    height: 100%;
    background-color: var(--color-2);
    overflow: hidden;
}

.top-menu {
    height: calc( 100vh - var(--footer-menu-height) - 115px);
    overflow: hidden;
    min-height: var(--banner-menu-height);
}

.bottom-menu {
    background-color: #000;
}

.logo-small {
    display: none;
}

.top-menu>div {
    margin-left: 5px;
}

.playlist {
    line-height: 3rem;
}

.logo img {
    height: 50px;
}

.left-nav {
    margin-top: 20px;
}

.playlist {
    margin-top: 20px;
}

.w-svg {
    fill: var(--color-1);
}

.left-menu .icon {
    width: 40px;
    height: 40px;
}

.fa-plus {
    color: #000;
    font-size: 1rem;
}

.left-menu span {
    align-self: center;
}

.playlist {
    flex-grow: 1;
}

.categories-nav li {
    padding: 20px 0 0 0;
}

.recently-played div div div,
.personalized-experience div div div,
.best-artists div div div {
    padding: 10px 0px;
}

.categories-nav li {
    text-transform: uppercase;
}

.recently-played img,
.personalized-experience img,
.best-artists img {
    width: 150px;
}

.main-space .fa-play {
    display: none;
}

.play-hover {
    position: relative;
}

.main-space .flex-cont .flex-cont-v:hover .fa-play {
    display: inline-block;
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}

.main-space .flex-cont .flex-cont-v:hover img {
    opacity: 0.5;
    cursor: pointer;
}

.left-nav>div:first-child {
    border-left: 4px solid var(--color-7);
}

.categories-nav li:first-child {
    border-bottom: 4px solid var(--color-7);
}

.left-nav>div:hover span {
    color: var(--color-1);
    cursor: pointer;
}

.categories-nav li:hover {
    color: var(--color-1);
    cursor: pointer;
}

.playlist li:hover,
.playlist div div:hover {
    color: var(--color-1);
    cursor: pointer;
}

.artist {
    color: var(--color-1);
}

.title {
    font-size: 0.8rem;
}


/*-----------------------------------Footer*/

footer {
    height: var(--footer-menu-height);
    background-color: var(--color-4);
    display: flex;
    align-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.track img {
    width: 50px;
}

.track,
.controller {
    width: 20vw;
    min-width: 150px;
}

.track>*,
.controller>*,
.mediaplayer>*,
.mediaplayer-station>* {
    padding: 0 5px;
}

.mediaplayer-station {
    min-width: 200px;
    width: 40%;
}

.fa-heart.fa-solid {
    display: none;
}

.mediaplayer {
    min-width: 200px;
    width: 40vw;
}

#mediaplayer-bar {
    height: 6px;
    width: 100%;
    background-color: var(--color-6);
    position: relative;
    border-radius: 2px 2px;
}

#listened-bar {
    position: absolute;
    height: 6px;
    width: 33%;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 2px 2px;
}

.controller {
    min-width: 80px;
}

.controller {
    width: 20vw;
}

#volume-bar {
    height: 6px;
    width: 100%;
    background-color: var(--color-6);
    position: relative;
    border-radius: 2px 2px;
}

#actual-volume-bar {
    position: absolute;
    height: 6px;
    width: 77%;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 2px 2px;
}

#actual-volume-bar:hover,
#listened-bar:hover {
    background-color: var(--color-7);
}

.ball-cursor {
    display: none;
}


/* .listened-bar:hover .ball-cursor,
.volume-bar:hover .ball-cursor{
    
    display: inline-block;
    transform: translate(-50%,-50%);

} */


/*------------------------------MEDIA-QUERY*/

@media all and (max-width: 1101px) {}

@media all and (max-width: 701px) {}

@media all and (max-width: 601px) {
     :root {
        --left-menu-width: 60px;
        --banner-menu-height: 80px;
        --footer-menu-height: 80px;
    }
    .logo-big {
        display: none;
    }
    .logo-small {
        display: inline-block;
        width: 40px;
    }
    .left-menu {
        width: 60px;
    }
    .main-space {
        width: calc(100% - 60px);
    }
    .left-menu span {
        display: none;
    }
    .playlist {
        display: none;
    }
    .banner {
        width: calc(100% - 60px);
    }
}