/*--------------------------------------RESET*/
* {
    font-family: 'Montserrat', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-6);
}

:root {
    --color-1: #fff;
    --color-2: #000;
    --color-3: #141922;
    --color-4: #282828;
    --color-5: rgba(0,0,0,0.6);
    --color-6: #A3A3A3;
    --left-menu-width: 300px;
    --banner-menu-height: 80px;
    --footer-menu-height: 80px;

}
ul li{
    list-style: none;
}

section {
    padding: 10px 0;
}
h2{
    color: var(--color-1);
}

/*-----------------------------------Utilities*/

.container {
    width: calc(100% - 20px);
    margin: 0 auto;
}

.flex-cont {
    display: flex;
}
.flex-cont-v {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.flex-aic {
    align-items: stretch;
    align-content: center;
}
.flex-ai-s {
    align-items: stretch;
}

.flex-aie {
    align-content: flex-end;
}
.flex-ac-c {
    align-content: center;    
    align-items: center;

}


.flex-w {
    flex-wrap: wrap;
}
.flex-as-c {
    align-self: center;
}

.flex-grow{
    flex-grow: 1;
} 

.flex-sb {
    justify-content: space-between;
}
.flex-jc-fe {
    justify-content: flex-end;
}
.flex-jc-c {
    justify-content: center;
}
.flex-jc-sa {
    justify-content: space-around;
}

.button {
    padding: 10px 20px;
    border: 1px solid var(--color-1);
    border-radius: 26px;
}

.button a {
    text-decoration: none;
}

.width-100 {
    width: 100%;
}



/*-----------------------------------Banner*/




.banner{
    position:fixed;
    top: 0;
    right: 0;
    width: calc(100% - var(--left-menu-width));
    height: var(--banner-menu-height);
    background-color: var(--color-5);
}

.upgrade {
    text-transform: uppercase;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
}

/*-----------------------------------Main*/

main {
    height: calc(100vh - var(--footer-menu-height));
    display: flex;
}
.main-space{
    padding-top: var(--banner-menu-height);
    overflow: auto;
    position: relative;
}
.left-menu .flex-cont i{
    background-color: var(--color-6);
}


.left-menu {
    width: var(--left-menu-width);
    height: 100%;
    background-color: var(--color-2);
    overflow: hidden;
}
.logo-small {
    display: none;
}
.left-nav *{
    margin: 3px;
}
.playlist *{
    margin: 3px;
}
.profile *{
    margin: 3px;
}
.logo img {
    height: 50px;
}
.left-nav{
    margin-top: 20px;
}

.playlist{
    margin-top: 20px;
}

.w-svg{
    fill: var(--color-1);
}

.left-menu .icon {
    width: 40px;
    height: 40px;
}
.fa-plus{
    color:#000;
    font-size: 2rem;

}
.left-menu span {
    align-self: center;
}

.main-space {
    width: calc(100% - var(--left-menu-width));
    height: 100%;
    background-color: var(--color-3);
}

.profile {
    flex-grow: 1;
}
.categories-nav li,
.recently-played div div div,
.personalized-experience div div div,
.best-artists  div div div
{
    padding: 20px 0px;

}
.recently-played img, 
.personalized-experience img,
.best-artists img{
    width: 150px;
}

.mediaplayer-station{
    min-width: 100px;
}
.mediaplayer{
    width: 33vw;
}
#mediaplayer-bar{

    height: 4px;
    width: 100%;
    border: 2px solid gray;
    position: relative;
}
#listened-bar{
    position: absolute;
    height: 4px;
    width: 33%;
    border: 2px solid white;
    top: 0;
    left: 0;
    z-index: 1;
}

/*-----------------------------------Footer*/

footer {
    height: var(--footer-menu-height);
    background-color: var(--color-4);
    display: flex;
    align-content: center;
    align-items: center;
}
.track img{
    width: 40px;
}
.track div{
    padding: 0 10px;
}

.controller{
    min-width: 80px;
}
.controller{
    width: 20vw;
}
#volume-bar{

    height: 4px;
    width: 100%;
    border: 2px solid gray;
    position: relative;
}
#actual-volume-bar{
    position: absolute;
    height: 4px;
    width: 75%;
    border: 2px solid white;
    top: 0;
    left: 0;
    z-index: 1;
}


/*------------------------------MEDIA-QUERY*/

@media all and (max-width: 1101px) {}

@media all and (max-width: 701px) {}

@media all and (max-width: 601px) {
    :root{
        --left-menu-width: 60px;
        --banner-menu-height: 80px;
        --footer-menu-height: 80px;
    }
    .logo-big {
        display: none;
    }

    .logo-small {
        display: inline-block;
        width: 40px;

    }
    .left-menu {
        width: 60px;
    }

    .main-space {
        width: calc(100% - 60px);
    }
    .left-menu span {
        display: none;
    }
    .playlist{
        display: none;
    }
    .banner{
        width: calc(100% - 60px);
    }


}